@import url("https://fonts.googleapis.com/css? family=Open+Sans:600");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.screen {
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  height: 740px;
  overflow: hidden;
  width: 1366px;
  border: 1px none;
}

.overlap-group10 {
  align-items: flex-end;
  background-color: rgba(38, 50, 68, 1);
  display: flex;
  height: 742px;
  min-width: 1366px;
  gap: 48px;
}

.flex-col {
  align-items: center;
  background-color:rgba(30, 42, 59, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 742px;
  padding: 42px 0;
  width: 725px;
}

.flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0.5px;
  min-height: 456px;
  width: 274px;
}

.flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 360px;
  width: 274px;
}

.mask-group-1 {
  height: 91px;
  margin-left: 7.5px;
  width: 91px;
}
