.sidebar {
  position: absolute;
  width: 260px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #1f2a3c;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.user-profile img {
  cursor: pointer;
  width: 91px;
  height: 91px;
  left: 96px;
  top: 42px;
  border-radius: 50%;
}

.user-profile h3 {
  color: #fff;
  margin-left: 20px;
}

.vector1 {
  position: absolute;
  width: 260px;
  height: 0px;
  left: 0.5px;
  top: 155px;
  border: 1px solid #394b61;
}
.vector2 {
  position: absolute;
  width: 260px;
  height: 0px;
  left: 0.5px;
  top: 397px;

  border: 1px solid #394b61;
}

.vector3 {
  position: absolute;
  width: 260px;
  height: 0px;
  left: 0.5px;
  top: 487px;

  border: 1px solid #394b61;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
}

.sidebar-nav li:hover {
  color: rgba(0, 224, 225, 1);
}

.sidebar-nav i {
  margin-right: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  background-repeat: no-repeat;
}

.icon-search {
  background-image: url("../../assets/search.svg");
}

.icon-playlist {
  background-image: url("../../assets/playlist.svg");
}

.icon-movie {
  background-image: url("../../assets/movies.svg");
}

.icon-tv-show {
  background-image: url("../../assets/tvshows.svg");
}

.icon-my-list {
  background-image: url("../../assets/mylist.svg");
}

.icon-watch-later {
  background-image: url("../../assets/watch_later.svg");
}

.icon-recommended {
  background-image: url("../../assets/recommended.svg");
}

.icon-settings {
  background-image: url("../../assets/settings.svg");
}

.icon-logout {
  background-image: url("../../assets/logout.svg");
}
